<%- include("include/head.ejs") %>
<h2>
<a href="/"><i class="fa-solid fa-angle-left" title="Back"></i></a>  Add new profile</h2>
<hr>
<br>
        <form method="post" action="/" style="padding: 20px">
        <label for="pic">Pic Link: </label>
        <input type="url" id="pic" name="picUrl" />
        <button class="def" type="button">default img</button><br /><br />

        <label for="username">username: </label>
        <input type="text" id="username" name="username" required/><br /><br />

        <label for="follower">followers: </label>
        <input type="number" id="follower" name="followers" value="0"/><br /><br />

        <label for="following">following: </label>
        <input type="number" id="following" name="following" value="0"/><br /><br />

        <label for="description">description: </label>
        <textarea name="description" id="description"></textarea><br /><br />

        <button>submit</button>
        </form>
        <script>
        const def = document.querySelector(".def");
        const input = document.querySelector("#pic");
        let pic = "<%=pic%>";

        def.addEventListener("click", () => {
          input.value = pic;
        })
      </script>
    </body>
</html>